<div class="row">
  {{#each cases}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-between aling-items-center">
            {{title}} <a href="/cases/edit/{{_id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <p>{{name}}</p>
          <p>{{lastname}}</p>
          <p>{{cel}}</p>
          <p>{{tipoCase}}</p>
          <p>{{ubicacion}}</p>
          <p>{{correo}}</p>
          <p>{{pruebaCaso}}</p>
          <p>{{description}}</p>
          <form action="/cases/delete/{{_id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block btn-sm">
              Delete
            </button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>