<div class="col-md-4 mk-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit Case</h3>
    </div>
    <div class="card-body">
      <form action="/cases/edit/someid">
        <div class="form-group">
          <input type="text" name="title" class="form-control" value="{{caso.title}}">
        </div>
        <div class="form-group">
          <textarea name="description" class="form-control">uiduidueidueid</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>