<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>New Case</h3>
    </div>
    <div class="card-body">
      <form action="/cases/new-case" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus>        
        </div>
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Nombre" autofocus>        
        </div>
        <div class="form-group">
          <input type="text" name="lastname" class="form-control" placeholder="Apellido" autofocus>        
        </div>
        <div class="form-group">
          <input type="text" name="cel" class="form-control" placeholder="Celular" autofocus>        
        </div>
        <div class="form-group">
          <input type="text" name="tipoCase" class="form-control" placeholder="Tipo de caso" autofocus>        
        </div>      
        <div class="form-group">
          <input type="text" name="ubicacion" class="form-control" placeholder="Ubicacion" autofocus>        
        </div> 
        <div class="form-group">
          <input type="text" name="correo" class="form-control" placeholder="Correo electronico" autofocus>        
        </div>
        <div class="form-group">
          <input type="text" name="pruebaCaso" class="form-control" placeholder="Prueba" autofocus>        
        </div>    
        <div class="form-group">
          <textarea name="description" placeholder="Descripcion" class="form-control"></textarea>
        </div>
        <div class="form-grup">
          <button class="btn btn-primary btn-block">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>