<section class="card">
  <div class="card-body">
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime esse quae repudiandae ipsum? Sapiente porro maxime eum voluptatem repellat debitis!</p>
  </div>
</section>