<div class="jumbotron mt-4">
  <h1 class="display-4">Cases App Nodejs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est quam pariatur harum aliquid maiores.</p>
  <hr class="my-4">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magni consequatur quae hic? Laudantium dolorem saepe voluptatem inventore nesciunt velit.</p>
  <a href="https://gitlab.com/GaryDevOps/proyecto-casos" class="btn btn-primary">Repositorio</a>
</div>